.masonry-container {
  column-count: 3;
  column-gap: 15px;
  padding: 20px;
}
.masonry-item {
  display: inline-block;
  width: 100%;
  padding: 4px;
  padding: 24px 18px;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-sizing: border-box;
  margin: 7px 0;
  border-radius: 8px;
}
.masonry-item img {
  display: block;
  width: 100%;
  border-radius: 8px;
}
